/графики/img0Age.png
/графики/img0AgePclass1.png
/графики/img0AgePclass2.png
/графики/img0AgePclass3.png
/графики/img0AgeSex0.png
/графики/img0AgeSex1.png
/графики/img1Age.png
/графики/img1AgePclass1.png
/графики/img1AgePclass2.png
/графики/img1AgePclass3.png
/графики/img1AgeSex0.png
/графики/img1AgeSex1.png
/графики/img2Age.png
/графики/img2AgePclass1.png
/графики/img2AgePclass2.png
/графики/img2AgePclass3.png
/графики/img2AgeSex0.png
/графики/img2AgeSex1.png
/графики/img3Age.png
/графики/img3AgePclass1.png
/графики/img3AgePclass2.png
/графики/img3AgePclass3.png
/графики/img3AgeSex0.png
/графики/img3AgeSex1.png
/Data/xgb.piclke
/Data/TitanicModel.pickle.dat
/Data/TitanicCleanSet.pickle.dat
/Data/obj
/Data/data.pickle
